@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.test {
    color: red !important
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4A5D5E;
    border-radius: 5px;
}

.gallery {

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4A5D5E;
}
